.hm-profile-card {
  margin-top: 1rem;
  margin-left: 6.7rem;
  display: flex;
}

.hm-profile-image {
  margin-bottom: 1rem;
  margin-left: -1.9rem;
}
.ac-profile-title {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0rem;
  margin-left: -11rem;
}
.profiledropdown-content {
  margin-top: -1rem;
  margin-left: 1.7rem;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: -moz-fit-content;
  height: fit-content;
  border-bottom: 1px solid rgba(0, 0, 0, 0.21);
  align-items: center;
}
.profiledropdown-content.show {
  display: none;
}
.ac-profile-personal-info {
  margin-top: -1rem;
  margin-right: -3rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
}
.ac-profile-personal-info.show {
  display: none;
}

.create-acount-form {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.creation-form-list {
  width: 80%;
}
.profile-creation-form {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.profile-creation-personal-i {
  margin-top: -1.5rem;
  margin-left: 0rem;
  margin-bottom: 0.5rem;
}

#formBasicUserName {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  margin-bottom: 0.3rem;
  margin-left: -4rem;
  width: 100%;
}
.formBasicUserName {
  font-size: 14px;
  margin-left: -4rem;
}

#formBasicEmail-creation {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  margin-left: -4rem;
  margin-bottom: 0.3rem;
  width: 100%;
}
.formBasicEmail-creation {
  font-size: 14px;
  margin-left: -4rem;
}

.text-muted {
  font-size: 12px;
  margin-left: -4rem;
}
#formBasicPassword-creation {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  margin-bottom: 0.3rem;
  margin-left: -4rem;
  width: 100%;
}
.formBasicPassword-creation {
  font-size: 14px;
  margin-left: -4rem;
}

#formBasicPhoneNumber {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  margin-bottom: 0.3rem;
  margin-left: -4rem;
  width: 100%;
}
.formBasicPhoneNumber {
  font-size: 14px;
  margin-left: -4rem;
}
#formBasicAddress {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  margin-left: -4rem;
  margin-bottom: 0.3rem;
  width: 100%;
}
.formBasicAddress {
  margin-top: 1rem;
  font-size: 14px;
  margin-left: -4rem;
}

.already-have-an-account {
  font-size: 12px;
  margin-left: -3rem;
  margin-top: -0.7rem;
  margin-bottom: 1rem;
}

.profile-creation-payment-i {
  margin-top: -0.5rem;
  margin-left: 0rem;
  margin-bottom: 0.5rem;
}
.profile-creation-password-i {
  margin-top: -0.5rem;
  margin-left: 0rem;
  margin-bottom: 0.5rem;
}
.forPaymentInfo {
  margin-top: 1rem;
  font-size: 14px;
  margin-left: -2rem;
}
#forPaymentInfo {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  margin-left: -2rem;
  margin-bottom: 0.3rem;
  width: 100%;
}

.profile-creation-submit-btn {
  margin-top: 1px;
  margin-left: -0.5rem;
  width: 100%;
  margin-bottom: 2.3rem;
}
