.hamburger-menu-icon {
  margin-left: -5px;
  padding-top: 25px;
  position: absolute;
  top: 15px;
  left: 32px;
  height: 45px;
  justify-self: center;
  align-self: center;
}

.HamburgerMenu {
  position: absolute;
  left: -113vw;
  width: 100%;
  height: fit-content;
  margin-left: 1.5rem;
  top: 0px;
  background-color: #fdf2ec;
  box-shadow: 0 0 4px 0px rgb(0 0 0 / 15%);
  transition: all 1s ease-out;
  z-index: 10;
}
.HamburgerMenu.Show {
  left: -7vw;
  display: flex;
  flex-direction: column;
}

.hm-top-row-container {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: end;
}

.hm-cart {
  position: absolute;
  /* left: 20rem; */
  right: 25px;
  height: 40px;
}

.hm-logo {
  display: flex;
  margin-left: 7rem;
  height: 7rem;
  width: 9rem;
}
