/* ************* Home Page************* */
.hompage-container{
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border:none !important;
  height: 100%;
}
/* ************* Header************* */
.header-container{
  width: 100vw; 
  border: none;
  border-radius: none;
  background-color: none !important;
  text-align: left;
  margin-left: .5rem;
}
/* ************* Discounts and Rewards************* */
.container-midsection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card-container{
  display: flex !important;
  justify-content: center;
  align-items: center;
  width: 47%;
  border-radius: 10px;
  height: 19vh;
}
.card-text{
  display: flex;
  flex-direction: column;
}
.left-text{
  margin-left: 0.5rem;
}

.card-left{
  background-color: #444347;
  color: whitesmoke;
  line-height: 1;
}
.card-right{
  background-color:#C5E7EB;
  color: #660650;
}

.img-left{
  margin-top: -6rem;
  height: 5rem;
  width:6rem;
}
/* ************* Ordering************* */
.pizza-des-container{
  display: flex; 
  justify-content: space-evenly;
  align-items: center;
  background-color: #E5E5E5;
  border-radius: 25px;
  width:90%;
  height: 25vh;
  margin-top: 25px;
  box-shadow: 16.310823440551758px 33.87632369995117px 41.40439987182617px 0px #0000000D;
  ;

}
.order-btn {
  border: none;
  background: #04adbf;
  border-radius: 16px;
  height: 2rem;
  width: 6rem;
  align-self: center;
  font-size: 14px;
  font-weight: bold;
  color: whitesmoke;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#pizza-pad-img{
  height: 60%;
}
/* ************* Game************* */

.game-container{
  height: 20vh;
  width:90%;
  margin-top: 10px;

}
#dino-img{
  width: 100%;
}
/* ************* Instagram************* */

.instagram-container {
 display: flex; 
 flex-direction: column;
 justify-content: flex-start;
}