.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.home-greeting {
  font-size: 30px;
  margin-bottom: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  width: 90%;
  margin-top: -2rem;
}
/* Hero Image */
.hero-img {
  height: 50vh;
  width: 100%;
}
.hero-wrapper {
  height: 50vh;
  width: 90%;
  border-radius: 10px !important;
  background-image: url(../assets/pizzaHero2.png);
  background-size: cover;
  /* background-size: 100% 80vh; */
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(253, 242, 236, 0.6);
  width: 80vw;
  height: 10vw;
  border-radius: 10px;
  margin-bottom: 20px;
}

.hero-title.hero-text {
  color: rgba(102, 6, 80, 1);
  font-weight: 700 !important;
  font-size: 3vw !important;
  text-align: center;
}

/* Order Now  */
.pizza-wrapper {
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center;
  width: 90vw;
  height: 73vh;
  margin-top: 40px;
  padding:6vw;
  background-color: #fae394 !important;
  border: none !important;
  box-shadow: 16.3108px 33.8763px 41.4044px rgba(0, 0, 0, 5%); 
  border-radius: 25.0936px;
}

.pizza-card {
  background: none !important;
  border: none !important;
  display: flex;
  flex-direction: column;
}
.pizza-card h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 0.8rem;
}
.pizza-card.left-card {
  padding: 20vw;
  display: flex;
}
.pizza-card.right-card {
  display:flex;
  align-items: right;
  justify-content: space-evenly;
  height: 100vw;
  width: 1000vw;
}
#pizza-paddle-img {
  height: 20vw;
}
#rating-img {
  width: 30vw;
  height: 10vw;
  padding: 10px;
}

.right-card img {
  height: 30vh;
  width: 8rem;
}
.btn-order {
  width: 122.17px;
  height: 42.15px;
  left: 79.7px;
  top: 605.08px;
  padding: 10px;
  margin: 10px;
  background: #04adbf;
  border-radius: 8px;
  border: none;
  box-shadow: 1px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* Carousel */
.carousel-root {
  display: flex;
  align-items: flex-start;
  padding:10px;
}
.carousel .slide {
  min-width: 91% !important;
  margin: 0;
  position: relative;
  text-align: center;
}
.carousel .slide img {
  margin-top: -8rem;
  margin-left: 1rem;
  width: 50% !important;
  vertical-align: top;
  border: 0;
  overflow: visible;
}
.carousel.carousel-slider {
  position: relative !important;
  margin-top: 2rem !important;
  overflow: visible !important;
}
.carousel .slider-wrapper {
  overflow: visible !important;
  margin: auto;
  width: 100%;
  transition: height 0.15s ease-in;
}
.carousel-wrapper {
  width: 90%;
  margin-top: 20px;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  align-items: flex-start;
}
.first-carousel {
  background-color: rgba(102, 6, 80, 0.58) !important;
  color: rgb(255, 255, 255) !important;
  border-radius: 1rem !important;
  display: flex;
  width: 20rem !important;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  height: 44vh;
  margin-top:10px;
}
.second-carousel {
  background-color: rgba(197, 231, 235, 1) !important;
  color: rgba(102, 6, 80, 0.58) !important;
  border-radius: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem !important;
  height: 44vh;
  width: 65vw;
}
#pizza-monster {
  height: 20vh;
  width: 20vw;
  animation: 
    /* pulse 3s ease infinite alternate,  */ nudge 5s linear
    infinite alternate;
}
@keyframes nudge {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(150px, 0);
  }

  /* 80% {
    transform: translate(-150px, 0);
  } */
}
/* Previous Order */
.previous-order-wrapper {
  border: 1px rgba(251, 188, 5, 1) solid;
  border-radius: 10px;
  background: transparent;
  width: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.prevous-order-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
}
.prev-order-container {
  border-radius: 10px;
  height: 30vh;
  width: 20vw;
  background-image: url(../assets/pizzaBackground.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
}

.prev-order-text {
  background-color: rgba(253, 242, 236, 0.7);
  border-radius: 10px;
  width: 15vw;
  height: 20vh;
  color: rgba(102, 6, 80, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn-add {
  background: none;
  border: none;
  font-weight: 700;
  box-shadow: none;
  font-size: 1.5rem;
  color: rgba(102, 6, 80, 1);
}

#test {
  display: flex;
}
/* Media QUERY  */
/* @media only screen and (max-width: 700px) {
  .hero-wrapper {
    height: 45vh;
    width: 100vw;
  }
  .hero-container {
    height: 9vh;
  }
  .hero-text {
    width: 90%;
    height: 7vh;
  }
  .hero-title {
    font-size: 1.1rem !important;
    margin: auto;
  }
  .pizza-wrapper {
    height: 20%;
  }
  #rating-img {
    width: 60%;
  }
  .prev-order-container {
    height: 18vh;
    width: 35vw;
  }
  .prev-order-text {
    height: 15vh;
    width: 25vw;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }
} */

.carousel p {
  margin:10px;
}