.hm-if-cards {
  margin-top: 0rem;
  margin-left: 1.7rem;
  display: flex;
  margin-left: 10px;
  justify-content: center;
  width: 80%;
}

.hm-if-image {
  margin-bottom: 1rem;
  margin-left: -2.3rem;
}

.hm-if-title {
  font-size: 14px;
  font-weight: bold;
  margin-left: 13px;
}
