.hm-legal-card {
  margin-top: 0rem;
  margin-left: 1.7rem;
  display: flex;
  margin-left: -17px;
  justify-content: center;
  width: 80%;
}

.hm-legal-image {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: -3rem;
  width: 30px;
  height: 26px;
  background: #c4c4c4;
  border-radius: 3rem;
}

.hm-legal-title {
  font-size: 14px;
  font-weight: bold;
  margin-left: 13px;
}
