.container {
  border: 1px solid black;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  justify-content: space-between;
}
.navLogo h1 {
  margin: 0;
}
.navOptions {
  margin-left: 11rem;
  display: flex;
  justify-content: space-evenly;
}
.Navbar {
  height: 50px;
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
  padding: 0 40px;
  justify-content: space-between;
}
.logo {
  font-size: 13px;
  font-weight: 700;
  color: #eee;
  border: none;
  background: slategray;
  border-radius: 2px;
  margin-left: -14px;
}
.navItem-sigin {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: -6px;
  text-decoration: none;
  color: #eee;
  font-size: 13px;
  font-weight: 700;
  height: 17px;
  padding-top: 3px;
  padding-bottom: 2px;
  width: 56px;
  margin: 4px 10px;
  background: slategray;
  border-radius: 80px;
  cursor: pointer;
}

.navItem:hover {
  font-weight: bold;
}
