.container {
  border: 1px solid black;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 40px;
  justify-content: space-between;
  box-sizing: border-box;
}
.navLogo h1 {
  margin: 0;
}

.Navbar {
  padding-top: 4px;
  height: 100px;
  display: flex;
  margin-bottom: 1.7rem;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
}
.logo {
  height: 100px;
  width: 8rem;
}
.navLogo {
  width: 100%;
  display: flex;
}
.logo2 {
  height: 80px;
  width: 8rem;
}
.navLogo2 {
  justify-content: center;
  width: 100%;
  display: flex;
}
.navItem-sigin {
  display: flex;
  justify-content: center;
  align-self: center;
  text-decoration: none;
  font-size: 13px;
  width: 70px;
  font-weight: 700;
  padding: 5px;
  color: #660650;
  background: #fbbc05;
  border-radius: 5px;
  cursor: pointer;
}

.navItem:hover {
  font-weight: bold;
}
