.hm-np-card {
  margin-top: 0rem;
  margin-left: 1.7rem;
  display: flex;
  margin-left: 45px;
  justify-content: center;
  width: 80%;
}

.hm-np-image {
  margin-bottom: 1rem;
  margin-left: -2rem;
}

.hm-np-title {
  font-size: 14px;
  font-weight: bold;
  margin-left: 13px;
}
