.hm-order-history-card {
  margin-top: 0rem;
  margin-left: 2.7rem;
  display: flex;
  justify-content: center;
  width: 80%;
}

.hm-order-history-image {
  margin-bottom: 1rem;
  margin-left: -5rem;
}

.hm-order-history-title {
  font-size: 17px;
  font-weight: bold;
  margin-left: 13px;
}
