.pc-container {
  display: flex;
  flex-direction: column;
}

.pc-adderss-card {
  margin-top: 0rem;
  margin-left: 1.7rem;
  display: flex;
  margin-left: 12px;
  justify-content: space-between;
  width: 89%;
  margin-bottom: 1rem;
}
.pc-location-container {
  margin-top: 1rem;
}
.pc-location-name {
  font-size: 14px;
  font-weight: bold;
}
.pc-address {
  font-size: 13px;
  margin-top: -0.1rem;
}
.pc-address-edit-btn {
  border: none;
  border-radius: 8px;
  width: 23%;
  height: 26px;
  margin-top: 1rem;
}

.pc-cart-item-heading {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0rem;
  margin-left: 12px;
  width: fit-content;
  height: fit-content;
  margin-bottom: 1rem;
}

.pc-delivery-type-container {
  margin-left: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}

.pc-contact-free-delivery-container {
  display: flex;
  justify-content: space-between;
}
.pc-contact-delivery-des {
}
.pc-contact-type-heading {
  font-size: 14px;
  font-weight: bold;
}

.pc-contact-type-des {
  font-size: 11px;
  margin-bottom: 20px;
}
.pc-contact-checkbox {
  margin-top: 12px;
}
.pc-door-delivery-container {
  display: flex;
  justify-content: space-between;
}
