.hm-profile-card {
  margin-top: 1rem;
  margin-left: 6.7rem;
  display: flex;
}

.hm-profile-image {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: -3rem;
  width: 30px;
  height: 26px;
  background: #c4c4c4;
  border-radius: 3rem;
}
.hm-profile-title {
  font-size: 14px;
  font-weight: bold;
  margin-left: 13px;
}
.profiledropdown-content {
  display: none;
}
.profiledropdown-content.show {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: fit-content;

  margin-top: -1rem;
  margin-left: 2.4rem;
}
.profile-personal-info {
  display: none;
}
.profile-personal-info.show {
  margin-top: -1rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}
