.toggle-container {
  display: flex;
  justify-content: space-evenly;
  height: 16vh;
}
.toggle-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.toggle-container-right {
  background: #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 0;
}
.toggle-customer {
  height: 2rem;
  width: 4rem;
  border: none;
  background-color: transparent;
}
.toggle-driver {
  height: 2rem;
  width: 4rem;
  border: none;
  background-color: transparent;
}

.sign-in-form {
  padding: 20px 40px;
  background-color: #e4e4e4;
}

.email-input {
  width: calc(100% - 50px);
  height: 49px;
  background: #c4c4c4;
  border-radius: 5px 25.5px 0px 5px;
  outline: none;
  border: none;
  margin: 4px 0;
  padding: 5px 10px;
}

.password-input {
  width: calc(100% - 50px);
  height: 49px;
  padding: 5px 10px;
  background: #c4c4c4;
  border-radius: 5px 24px 0px 5px;
  /* transform: matrix(1, 0, 0, -1, 0, 0); */
  border: none;
  outline: none;
  margin: 4px 0;
}

.remember-me-checkbox {
  display: flex;
  align-items: center;
  font-size: 12px;
  padding-left: 40px;
  /* margin: 4px 0; */
}
.remember-me-checkbox * {
  margin: 4px;
  margin-left: 0;
}

.switch-login-signup {
  margin: 4px 0;
  color: #074095;
  font-size: 12px;
  padding-left: 22px;
}

.signInFormContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}
.submitButtonContainer {
  /* position: absolute; */
  /* align-self: flex-end; */
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 40px;
  margin-top: 20px;
  /* margin-top: 48.5px; */
}

.submitButton {
  /* width: 52px; */
  width: 100%;
  height: 37px;
  align-self: center;
  text-align: center;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold !important;
  background-color: #fbfbfb;
}
.btn-primary {
  background-color: #660650 !important;
  outline: 0 !important;
  border-color: #660650 !important;
}
.btn-primary:hover {
  background-color: #660650 !important;
  outline: 0 !important;
  border-color: #660650 !important;
}
.socials-login {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  border-top: 1px solid #d2d2d2;
  padding: 16px 0;
}
.socials-button-container {
  width: 150px;
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 0 4px;
}
