.toggle-container {
  display: flex;
  justify-content: space-evenly;
  height: 12vh;
}
.toggle-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.toggle-container-right {
  background: #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.toggle-customer {
  height: 2rem;
  width: 4rem;
  border: none;
  border-radius: 2px;
}
.toggle-driver {
  height: 2rem;
  width: 4rem;
  border: none;
  border-radius: 2px;
}

.toggle-name {
  margin: 0;
  margin-top: 10px;
}

.sign-in-form {
  padding: 20px 40px;
  background-color: #e4e4e4;
}

.email-input {
  width: 85%;
  height: 49px;
  background: #c4c4c4;
  border-radius: 5px 25.5px 0px 5px;
  outline: none;
  border: none;
  margin: 4px 0;
  padding: 5px 10px;
}

.password-input {
  width: 85%;
  height: 49px;
  padding: 5px 10px;
  background: #c4c4c4;
  border-radius: 5px 24px 0px 5px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  border: none;
  outline: none;
  margin: 4px 0;
}

.remember-me-checkbox {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin: 4px 0;
}
.remember-me-checkbox * {
  margin: 4px;
  margin-left: 0;
}

.switch-login-signup {
  margin: 4px 0;
  color: #074095;
  font-size: 12px;
}

.signInFormContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}
.submitButtonContainer {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-self: center;
  width: 100%;
  height: 100%;
}

.submitButton {
  width: 52px;
  height: 37px;
  align-self: center;
  text-align: center;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 12px;
  background-color: #fbfbfb;
}
.socials-login {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  border-top: 1px solid #d2d2d2;
  padding: 16px 0;
}
.socials-button-container {
  width: 150px;
  background-color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin: 0 4px;
}
