.hm-user-info-card {
  margin-top: -1rem;
  margin-left: 1.7rem;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}

.profile-pic-cart-hm {
  height: 4rem;
  margin-left: -3.8rem;
}
.hm-user-info {
  margin-top: 26px;
  margin-left: -4rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.hm-user-name {
  font-size: 12px;
  font-weight: bold;
}

.hm-user-email {
  font-size: 12px;
  margin-top: -1px;
}
